layout {

    focus-ring {
        active-color   "#aad94c"
        inactive-color "#0b0e14"
        urgent-color   "#d95757"
    }

    border {
        active-color   "#aad94c"
        inactive-color "#0b0e14"
        urgent-color   "#d95757"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#aad94c"
        inactive-color "#49670b"
        urgent-color   "#d95757"
    }

    insert-hint {
        color "#aad94c80"
    }
}

recent-windows {
    highlight {
        active-color "#aad94c"
        urgent-color "#d95757"
    }
}
